
.DS_Store
.ipynb_checkpoints/Colab_A5_adv_pandas-checkpoint.ipynb
<TamA>_A4/.ipynb_checkpoints/Colab_A4_data_exploration-checkpoint.ipynb
<TamA>_A5/.ipynb_checkpoints/Colab_A5_adv_pandas-checkpoint.ipynb
